@import url("https://fonts.cdnfonts.com/css/sarasvati");
@import url("https://fonts.cdnfonts.com/css/molynia-script");
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url("https://fonts.cdnfonts.com/css/cracksmoon");
@import url("https://fonts.cdnfonts.com/css/masconia");
@import url("https://fonts.cdnfonts.com/css/giom-mod");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f7f3f0;
  padding: 30px;
  height: auto;
}

header {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto 30px;
}

.logo {
  font-size: 58px;
  font-weight: bold;
  color: #000;
  font-family: "Sarasvati", sans-serif;
}

.cart-icon {
  font-size: 24px;
  color: #000;
  position: relative;
  padding: 10px;
}

.cart-icon:hover {
  cursor: pointer;
  color: #333;
}

.cart-count {
  font-size: 16px;
  width: 21px;
  height: 21px;
  color: #000;
  margin-left: 10px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid #80766e;
  background: #f7f3f0;
}

.bump{
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.cart-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  width: 80%;
  margin: 0 auto;
}

.title {
  font-family: "Molynia Script", sans-serif;
  font-size: 48px;
  color: #111;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 100px;
}

.products {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.table-header-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid #aba8a6;
  text-align: center;
}

.table-cell {
  font-size: 20px;
  font-family: "Masconia", sans-serif;
  color: #333;
}

.table-row-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid #aba8a6;
  gap: 10px;
  text-align: center;
}

.table-cell-image {
  width: 100%;
}

.table-cell-image img {
  width: 100%;
}

.table-cell-description {
  font-size: 18px;
  color: #333;
  font-family: "Giom Mod", sans-serif;
}

.table-cell-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Giom Mod", sans-serif;
}

.minusIcon,
.plusIcon {
  color: #333;
  cursor: pointer;
}

.table-cell-price {
  font-size: 20px;
  color: #333;
  font-family: "Nunito", sans-serif;
}

.table-cell-delete {
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.summary {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 0;
  gap: 10px;
}

.subtitle {
  width: 100%;
  font-size: 20px;
  color: #333;
  font-family: "Masconia", sans-serif;
  border-bottom: 2px solid #aba8a6;
}

.summary-content-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  border-bottom: 2px solid #aba8a6;
}

.summary-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 0;
}

.summary-product {
  font-size: 20px;
  font-family: "Giom Mod", sans-serif;
}

.summary-price {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.summary-shipping {
  font-size: 20px;
  font-family: "Giom Mod", sans-serif;
}

.summary-shipping-price {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.total {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  margin: 20px 0;
  background: #ece1d8;
}

.total-text {
  font-size: 24px;
  font-family: "Giom Mod", sans-serif;
}

.total-price {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

button {
  width: 100%;
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Giom Mod", sans-serif;
  cursor: pointer;
}

button:hover {
  background: #111;
}

.cart-content-empty {
  width: 100%;
}

.empty {
  text-align: center;
  font-size: 28px;
  font-family: "Giom Mod", sans-serif;
  color: #333;
  padding: 10px;
  border-bottom: 1px solid #aba8a6;
  margin: 0 auto;
}


@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .products {
    width: 100%;
    margin: 20px 0;
    padding: 0;
    display: flex;
  }

  .summary {
    width: 100%;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 425px) {
  header{
    width: 100%;
    margin: 0 auto 20px;
  }

  .logo{
    font-size: 40px;
  }

  .cart-icon{
    font-size: 20px;
  }

  .cart-count{
    font-size: 16px;
  }

  .cart-content{
    width: 100%;
    gap: 10px;
  }

  .title{
    font-size: 36px;
  }

  .content{
    gap: 10px;
  }
}